<!doctype html>
<html lang="en">
  
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Gem Crystal</title>

 

    

    

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">GEM CRYSTAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link" href="http://twitter.com">Twitter</a>
          <a class="nav-link" href="{% static 'resuming.pdf' %}">Gem Profile</a>
          <a class="nav-link nav-item" href="{% url 'allblogs' %}">Blog</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hi, i am Samuel</h1>
        <p class="lead text-muted">Gem Crystal Construction and Facilities Ltd</p>
        <p>
          <a href="mailto:gemcrystalcfl@gmail.com" class="btn btn-primary my-2">Email us</a>
        </p>
        <img src =https://en.wikipedia.org/wiki/File:Cristiano_Ronaldo_2018.jpg height = 500 width=500/>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       {% for job in jobs.all %}
        <div class="col">
          <div class="card shadow-sm">
            <img class = "card-img-top" src="{{ job.image.url }}" />

            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>

</main>
<footer class ="text-muted">
    <div class="container text-center">
        <p> © Samuel Adeyemi {% now "Y" %} </p>
    </div>
</footer>

<!-- JavaScript Bundle with Popper -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      
  </body>
</html>
